@media (max-width: 1024px) {
/* section1 */

.first {
    max-width: 1024px;
    min-width: 378px;
    min-height: 100vh;
    padding-bottom: 15%;
    background-image: linear-gradient(to top, hsl(47, 95%, 76%, .60), rgba(175, 73, 73, 0.90)), linear-gradient(to bottom, hsl(47, 95%, 76%, .60), hsl(47, 95%, 76%, .60)),url(img/section/bg1.png) ;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: cover;
   
}

header {
    width: 100%;
    margin: 0 auto;
    padding-top: 2%;
    
}





header nav .logo {
    margin: 0;
    margin-top: 2%;
    
}

header nav .logo a{
    font-size: 20px;
    
}

.first_content {
    margin: 0 auto;
    padding-top: 5em;
    width: 40%;
 }



 .first_content h2{
    font-family: 'Kaushan Script';
    font-size: 20px;
    text-align: center;
    margin-bottom: 4em;
    font-weight: normal;
}
.first_content h1{
    font-family: 'Montserrat';
    font-size: 60px;
    text-align: center;
    margin-bottom: 1vh;
    line-height: 90%;
    letter-spacing: normal;
}


.btn:active {
    background-color: white;
    color: #e1c280;
    transition: 0.2s;
    
}


.blocks_item {
    width:380px;
    height: 250px;
    padding-top: 4%;
}


















/* section2 */

.section2 {
    margin: 0 auto;
}
.second .second_blocks {
    width: 100%;
    display: block;
    margin: 0 auto;

    }
    
    .blocks_item {
        margin: 0 auto;
        height: 300px;
    }
    
    
    .blocks_item img {
        max-width:100%;
        height: 100%;
        object-fit: cover;
        /*  height: 250px; */ 
       /*  padding-top: 4%; */
    }
}
    


@media (max-width: 675px) {
    nav .nav_menu a {
        display: none;
    }
    nav .nav_menu a:last-child{
        display: block;
       padding:12px 12px;
    }
}
